body {
    background-color: rgb(255, 255, 255);
    background-image: url("barber-shears-line-9ef54b.webp");
    background-repeat: repeat;
    background-size: 60px;
}

.center h1 {
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

.fotoo {
    display:block;
    margin:auto;
    border: 5px solid white;
}

.header {
    background-color: var(--primary);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
}

.logo {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--secondary);
    color: white;
}

.nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav a:hover {
    background-color: var(--primary);
    color: white;
}

.hero {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

p {
    color: rgb(255, 255, 255);
}

.titulo {
    margin-left: 40%;
}

.demo{
    text-align: center;
}

.container-foto {
    display: flex;
    justify-content: center;
}

.container-foto2 {
    display: flex;
    justify-content: center;
}

.F1 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
}

.F2 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
}

.F3 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
}

.F4 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
}

.F5 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
}

.F6 {
    width: 300px;
    height: 275px;
    margin: 0 10px;
    margin-top: 10px;
    border: 5px solid black;
    
}




.btn {
    background: var(--accent);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    transition: background 0.3s;
}

.btn:hover {
    background: #c0392b;
}

.box{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact {
    background: var(--primary);
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    justify-content: left;
    width: 640px;
    
}

.redes {
    background: var(--primary);
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    justify-content: right;  
    width: 640px;
     
}

@keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(5px);
    }
  }

.logo-ig{
    margin-right: 40px;
    animation: move 1s infinite alternate-reverse;
}

.logo-tiktok{
    margin-left: 40px;
    animation: move 1s infinite alternate-reverse;
}

.des {
    color: black;
    display: none;
    list-style: none;
    translate: -35px 0px;
}

.servicios:hover .des {
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.des2 {
    color: black;
    display: none;
    list-style: none;
    translate: -35px 0px;
}

.precios:hover .des2 {
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.des3 {
    color: black;
    display: none;
    list-style: none;
    translate: -35px 0px;
}

.turnos:hover .des3 {
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}